html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.clearfix, #dashboard .day > ul > li .tabs_navigation {
  zoom: 1; }
  .clearfix:before, #dashboard .day > ul > li .tabs_navigation:before, .clearfix:after, #dashboard .day > ul > li .tabs_navigation:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after, #dashboard .day > ul > li .tabs_navigation:after {
    clear: both; }

body {
  font-family: 'Arimo', Helvetica, sans-serif;
  font-size: 62.5%; }

@font-face {
  font-family: "Batch";
  src: url("../fonts/batch.eot");
  src: url("../fonts/batch.eot?#iefix") format("embedded-opentype"), url("../fonts/batch.woff") format("woff"), url("../fonts/batch.ttf") format("truetype"), url("../fonts/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.batch {
  font-family: "Batch";
  font-size: 1em;
  line-height: 1em;
  display: inline-block; }
  .batch:before {
    content: attr(data-icon); }

#navigation {
  width: 100%;
  height: 70px;
  display: block;
  background: #313d4c;
  padding: 0 16px 0 34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #navigation #logo {
    width: 54px;
    height: 30px;
    display: block;
    float: left;
    background: url(../img/solid_logo.png) 0px 0px no-repeat transparent;
    margin-top: 18px; }
  #navigation ul {
    float: left;
    margin: 14px 0 0 50px; }
    #navigation ul li {
      display: inline-block;
      height: 100%;
      margin-right: 20px; }
      #navigation ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.6em;
        line-height: 2.7em;
        padding: 0 20px;
        display: block;
        height: 42px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s; }
        #navigation ul li a.active, #navigation ul li a:hover {
          background: #171e26;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          border-radius: 3px; }
  #navigation #logout {
    float: right;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6em;
    padding: 16px 0 0;
    display: block;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #navigation #logout .batch {
      background: #171e26;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      -ms-border-radius: 35px;
      -o-border-radius: 35px;
      border-radius: 35px;
      width: 36px;
      height: 36px;
      color: #ffffff;
      margin: 0 15px 0 10px;
      text-align: center;
      line-height: 2.1em; }

#dashboard {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #dashboard .day {
    width: 100%; }
    #dashboard .day > div {
      color: #ffffff;
      font-size: 1.8em;
      padding: 11px 18px;
      background: #46bcb7;
      display: inline-block;
      position: relative;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #dashboard .day > ul {
      width: 100%;
      padding: 0 0 0 59px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #dashboard .day > ul > li {
        border-left: 5px solid #d7e3f3;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 18px 0 0 0;
        position: relative; }
        #dashboard .day > ul > li:before {
          position: absolute;
          background: #ffffff;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          border-radius: 100px;
          border: 5px solid #d7e3f3;
          display: block;
          content: "";
          width: 52px;
          height: 52px;
          top: 16px;
          left: -33px;
          content: attr(data-occurrences);
          text-align: center;
          font-size: 3em;
          line-height: 1.8em;
          color: #c9d5e5; }
        #dashboard .day > ul > li .time {
          color: #232d39;
          font-size: 1.6em;
          position: absolute;
          padding: 0 0 8px 0;
          top: 95px;
          left: -64px;
          border-bottom: 5px solid #d7e3f3;
          width: 59px;
          text-align: center; }
        #dashboard .day > ul > li .occurrences {
          color: #c9d5e5;
          font-size: 3em;
          line-height: 1.8em;
          position: absolute;
          top: 21px;
          left: -28px;
          width: 52px;
          height: 52px;
          text-align: center; }
        #dashboard .day > ul > li .info {
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 0 0 43px; }
          #dashboard .day > ul > li .info li {
            margin-bottom: 10px; }
            #dashboard .day > ul > li .info li:nth-child(2) {
              margin-bottom: 25px; }
          #dashboard .day > ul > li .info h2 {
            color: #232d39;
            font-size: 2.4em; }
          #dashboard .day > ul > li .info p {
            color: #8e99a8;
            font-size: 2em; }
          #dashboard .day > ul > li .info li:last-child p {
            color: #9facbe;
            font-size: 1.5em; }
        #dashboard .day > ul > li .code {
          background: url(../img/code_background.png) repeat-y 41px 0px #f4f9fc;
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 0 0 43px;
          position: relative;
          overflow: hidden;
          height: 38px; }
          #dashboard .day > ul > li .code a {
            width: 24px;
            height: 24px;
            background: #ee3d44;
            position: absolute;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            left: 8px;
            top: 7px;
            color: #ffffff;
            text-decoration: none;
            text-align: center;
            line-height: 1.5em;
            font-size: 1.6em; }
            #dashboard .day > ul > li .code a.batch:before {
              content: attr(data-open); }
            #dashboard .day > ul > li .code a.opened.batch:before {
              content: attr(data-close); }
          #dashboard .day > ul > li .code ul li {
            overflow: hidden;
            position: relative;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0 0 0 42px; }
            #dashboard .day > ul > li .code ul li pre, #dashboard .day > ul > li .code ul li span {
              font-size: 1.5em; }
            #dashboard .day > ul > li .code ul li pre {
              color: #232d39;
              margin: 6px 0;
              word-break: break-word; }
            #dashboard .day > ul > li .code ul li span {
              width: 35px;
              display: block;
              text-align: center;
              float: left;
              color: #8e99a8;
              position: absolute;
              left: -2px;
              margin: 6px 0px; }
            #dashboard .day > ul > li .code ul li:first-child pre {
              margin-top: 12px; }
            #dashboard .day > ul > li .code ul li:first-child span {
              margin-top: 12px; }
            #dashboard .day > ul > li .code ul li:last-child pre {
              margin-bottom: 12px; }
        #dashboard .day > ul > li .tabs_navigation {
          background: #d7e3f3; }
          #dashboard .day > ul > li .tabs_navigation li {
            float: left;
            margin: 5px 5px 0 0; }
            #dashboard .day > ul > li .tabs_navigation li a {
              text-decoration: none;
              color: #ffffff;
              font-size: 1.8em;
              line-height: 2.5em;
              height: 44px;
              padding: 0 15px;
              background: #bfcbda;
              display: block;
              -webkit-transition-property: all;
              -moz-transition-property: all;
              -o-transition-property: all;
              transition-property: all;
              -webkit-transition-duration: 0.3s;
              -moz-transition-duration: 0.3s;
              -o-transition-duration: 0.3s;
              transition-duration: 0.3s; }
              #dashboard .day > ul > li .tabs_navigation li a.active, #dashboard .day > ul > li .tabs_navigation li a:hover {
                background: #ffffff;
                color: #232d39; }
        #dashboard .day > ul > li .tabs {
          overflow: hidden; }
          #dashboard .day > ul > li .tabs .backtrace p {
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 6px 0 6px 45px;
            color: #9facbe;
            font-size: 1.5em; }
