<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<title>Solid {{ version }} - {% block title %} {% endblock %}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="icon" type="image/png" href="/media/images/favicon.png" />
	<link rel="stylesheet" href="/media/css/bootstrap.css" />
	<link rel="stylesheet" href="/media/css/style.css" />

	{% block header %}{% endblock %}
</head>
<body>
	<div id="header">
		<div class="wrapper">
			<a class='logo' href="/">
				<img src="/media/images/logo.png" alt="Solid logo" />
			</a>
			
			<ul id="menu">
				<li>
					<a href="/" class="active"><span class="batch" data-icon="&#xF161;"></span>Dashboard</a>
				</li>
				<li class='dropdown'>
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="batch" data-icon="&#xF17B;"></span>Settings</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li><a href="#">This is a link</a></li>
					</ul>
				</li>
				<li>
					<a href="{{ base_url|url('logout') }}"><span class="batch" data-icon="&#xF069;"></span>Logout</a>
				</li>
			</ul>
		</div>
		
	</div><!-- header END -->
	<div id="breadcrumb">
			<div class="wrapper">
				<h2>{% block breadcrumb %}{% endblock breadcrumb %}</h2>
			</div>
	</div><!-- breadcrumb END -->
	<div id="content">
	{% block content %}{% endblock %}
	</div><!-- content END --> 
<script type="text/javascript" src='/media/js/libs/jquery.min.js'></script>
<script type="text/javascript" src='/media/js/libs/bootstrap/bootstrap.min.js'></script>

{% block js %}
{% endblock %}
</body>
</html>
