{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block breadcrumb %}Dashboard{% endblock breadcrumb %}
{% block content %}
<ul id="exceptions-list">
	{% for exception in exceptions.clone()  %}
	<li>
		<div class="wrapper">
			<div class="sidebar">
				<span>{{ exception.total_occurrences }}</span>
				<p>
					<span class="batch" data-icon="&#xF090;"></span>
					<span class="time">{{ exception.last_occurrence|date_local }}</span>
				</p>
			</div>
			<div class="info">
				{% if exception.exception_class  %}
					<h3>{{ exception.exception_class }}</h3>	
				{% endif %}
				{% if exception.backtrace %}
				<p>
					{% for line in exception.backtrace %}
						<span >{{ loop.index }}. {{ line }} <br></span>
						{% if loop.index == 5 %}
						<p class="hidden" id='full-trace-{{ exception._id }}'>{% endif %}
						{% if loop.last %}</p>{% endif %}
					{% endfor %}
				</p>
				{% endif %}
				{% if exception.additional_data|check_additional_data %}
					<ul class='exception_data'>
						{{ exception.additional_data.0|exceptions_dict }}
					</ul>
				{% endif %}
				<a href="">Expand</a>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
