{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!-- Dashboard -->
<div id="dashboard">
			<div class="day">
				<div>Today (21.06.2013)</div>
				<ul>
					{% for exception in exceptions.clone()  %}
					<li>
						<div class="occurrences">{{ exception.total_occurrences }}</div>
						<div class="time">{{ exception.last_occurrence|time_local }}</div>
						<ul class="info">
							<li><h2>{{ exception.exception_class }}</h2></li>
							<li><p>{{ exception.message }}</p></li>
							<li><p>{{ exception.context.filepath }}({{ exception.context.culprit_lineno }})</p></li>
						</ul>
						<div class="code">
							<a href="" class="open-code batch" data-open="&#xF0A0;" data-close="&#xF0A1;"></a>
							<ul>
								{% for line in exception.context.pre_context  %}
									<li><span>{{ line.0 }}</span><pre>{{ line.1 }}</pre></li>
								{% endfor %}
									<li><span>{{ exception.context.context_line.0 }}</span><pre>{{ exception.context.context_line.1 }}</pre></li>
								{% for line in exception.context.post_context  %}
									<li><span>{{ line.0 }}</span><pre>{{ line.1 }}</pre></li>
								{% endfor %}
							</ul>
						</div>
						<ul class="tabs_navigation">
							{% if exception.backtrace %}
								<li><a data-tab="backtrace-{{ exception._id }}">Backtrace</a></li>
							{% endif %}
							
							<li><a data-tab="history-{{ exception._id }}">History</a></li>
							<li><a data-tab="request-{{ exception._id }}">Request</a></li>
						</ul>
						<ul class="tabs">
							{% if exception.backtrace %}
							<li class="backtrace" data-tab="backtrace-{{ exception._id }}">
								<ul>
									{% for line in  exception.backtrace  %}
									<li><p>{{ line }}</p></li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							<li data-tab="history-{{ exception._id }}"></li>
							<li data-tab="request-{{ exception._id }}">
								<table class="table">
									<tbody>
										<tr>
											<th>URL</th>
											<td>{{ exception.request.url }}</td>
										</tr>
										<tr>
											<th>Method</th>
											<td>{{ exception.request.method }}</td>
										</tr>
										<tr>
											<th>Cookies</th>
											<td>
												{% set cookies=exception.request.cookies %}
												<table>
													 {% for key, value in cookies.items()  %}													
													<tr>
														<td> {{ key }}</td>
														<td>{{ value }}</td>
													</tr>
													{% endfor %}
												</table>
											</td>
										</tr>
										<tr>
											<th>Headers</th>
											<td>
												{% set headers=exception.request.headers %}
												<table>
													 {% for key, value in headers.items()  %}													
													<tr>
														<td> {{ key }}</td>
														<td>{{ value }}</td>
													</tr>
													{% endfor %}
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</li>
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div><!-- day END -->
		</div><!-- dashboard END -->

{% endblock content %}
