html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'Arimo', Helvetica, sans-serif;
  font-size: 62.5%;
  background: #f4f9fc; }

@font-face {
  font-family: "Batch";
  src: url("../fonts/batch.eot");
  src: url("../fonts/batch.eot?#iefix") format("embedded-opentype"), url("../fonts/batch.woff") format("woff"), url("../fonts/batch.ttf") format("truetype"), url("../fonts/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.batch {
  font-family: "Batch";
  font-size: 1em;
  line-height: 1em;
  display: inline-block; }
.batch:before {
  content: attr(data-icon); }

#header {
  height: 85px;
  background: #232d39;
  border-bottom: 3px solid #0f1318; }
#header img {
  float: left;
  margin: 14px 0px; }
#header ul {
  float: right; }
#header ul li {
  float: left; }
#header ul li a {
  font-size: 1.6em;
  text-decoration: none;
  outline: none;
  display: block;
  color: white;
  padding: 57px 14px 15px;
  position: relative; }
#header ul li a:hover, #header ul li a.active {
  background: #3d8dc4; }
#header ul li a span {
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -0.5em;
  font-size: 1.2em; }

.button {
  border: 0px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: #89bc32;
  border: 2px solid #89bc32;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px; }
.button:hover, .button.active {
  color: #89bc32;
  background: white; }
.button.cancel {
  border: 2px solid #cccccc;
  color: #cccccc;
  background: white; }
.button.cancel:hover {
  background: #cccccc;
  color: white;
  border: 2px solid #b7b7b7; }
.button.delete, .button.red {
  border: 2px solid #ce0a31;
  background: #ce0a31;
  color: white; }
.button.delete:hover, .button.red:hover {
  background: white;
  border: 2px solid #ce0a31;
  color: #ce0a31; }

.wrapper {
  width: 1280px;
  margin: 0 auto; }

#breadcrumb {
  text-align: left; }
#breadcrumb h2 {
  display: inline-block;
  font-size: 3em;
  padding: 30px 0px;
  color: #363636; }

@media screen and (max-width: 1300px) {
  .wrapper {
    width: 1000px; } }
#list ul li {
  background: white;
  overflow: hidden;
  border-top: 2px solid #e8edf0;
  position: relative; }
#list ul li:last-child {
  border-bottom: 2px solid #e8edf0; }
#list ul li .sidebar {
  width: 150px;
  height: 95px;
  padding: 7px;
  display: block;
  float: left;
  border-left: 2px solid #e8edf0;
  border-right: 2px solid #e8edf0;
  background: #fcfcfc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#list ul li .sidebar > span {
  font-size: 3.6em;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 18px 0 11px;
  color: #363636; }
#list ul li .sidebar p {
  font-size: 1.4em;
  color: black; }
#list ul li .sidebar p span {
  color: #b8bfc1; }
#list ul li .info {
  padding: 20px 60px 20px 20px;
  width: 1130px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative; }
#list ul li .info h3 {
  font-size: 2.4em;
  color: #363636;
  margin-bottom: 14px; }
#list ul li .info p {
  font-size: 1.6em;
  color: #b8bfc1; }
#list ul li .info a {
  position: absolute;
  top: 20px;
  right: 0px;
  font-size: 1.6em;
  text-decoration: none;
  color: black; }

@media screen and (max-width: 1300px) {
  .wrapper {
    width: 1000px; }

  #list ul li .info {
    width: 850px; } }
