html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'Arimo', Helvetica, sans-serif;
  font-size: 62.5%;
  background: #f4f9fc; }

@font-face {
  font-family: "Batch";
  src: url("../fonts/batch.eot");
  src: url("../fonts/batch.eot?#iefix") format("embedded-opentype"), url("../fonts/batch.woff") format("woff"), url("../fonts/batch.ttf") format("truetype"), url("../fonts/batch.svg#batchregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.batch {
  font-family: "Batch";
  font-size: 1em;
  line-height: 1em;
  display: inline-block; }
.batch:before {
  content: attr(data-icon); }

#header {
  height: 85px;
  background: #232d39;
  border-bottom: 3px solid #0f1318; }
#header img {
  float: left;
  margin: 19px 0px; }
#header ul#menu {
  float: right; }
#header ul#menu li {
  float: left; }
#header ul#menu li a {
  font-size: 1.6em;
  text-decoration: none;
  outline: none;
  display: block;
  color: white;
  padding: 53px 27px 19px;
  position: relative; }
#header ul#menu li a:hover, #header ul#menu li a.active {
  background: #3d8dc4; }
#header ul#menu li a span {
  position: absolute;
  top: 26px;
  left: 50%;
  margin-left: -0.5em;
  font-size: 1.2em; }

.button {
  border: 0px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: #3d8dc4;
  border: 2px solid #3d8dc4;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px; }
.button:hover, .button.active {
  border: 2px solid #3d8dc4;
  background: white;
  color: #3d8dc4; }
.button.cancel {
  border: 2px solid #cccccc;
  color: #cccccc;
  background: white; }
.button.cancel:hover {
  background: #cccccc;
  color: white;
  border: 2px solid #b7b7b7; }
.button.delete, .button.red {
  border: 2px solid #ce0a31;
  background: #ce0a31;
  color: white; }
.button.delete:hover, .button.red:hover {
  background: white;
  border: 2px solid #ce0a31;
  color: #ce0a31; }

.wrapper {
  width: 1300px;
  margin: 0 auto; }

#breadcrumb {
  text-align: left; }
#breadcrumb h2 {
  display: inline-block;
  font-size: 3em;
  padding: 30px 0px;
  color: #363636; }

@media screen and (max-width: 1400px) {
  .wrapper {
    width: 1000px; } }
input[type=text], input[type=password] {
  border: 2px solid #F0F0F0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: white;
  color: #2B3239; }
input[type=text].placeholder, input[type=password].placeholder {
  color: #cccccc; }
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder {
  color: #cccccc; }
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
  color: #cccccc; }
input[type=text]:focus, input[type=password]:focus {
  border: 2px solid #F0F0F0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: white;
  color: #2B3239;
  border-color: #3d8dc4; }

.exception-wrapper {
  display: table; }
.exception-wrapper div.info, .exception-wrapper div.sidebar {
  display: table-cell; }

ul#exceptions-list > li {
  background: white;
  overflow: hidden;
  border-top: 3px solid #e8edf0;
  position: relative; }
ul#exceptions-list > li:last-child {
  border-bottom: 3px solid #e8edf0; }
ul#exceptions-list > li .sidebar {
  width: 80px;
  padding: 7px;
  height: 100%;
  float: left;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
ul#exceptions-list > li .sidebar .occurrences {
  background: #f8f8f8;
  border: 3px solid #e8edf0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 2.8em;
  font-weight: bold;
  text-align: center; }
ul#exceptions-list > li .sidebar > span {
  display: inline-block;
  width: 100%;
  margin: 10px 0 11px;
  color: #363636; }
ul#exceptions-list > li .sidebar p {
  font-size: 1.4em;
  color: black; }
ul#exceptions-list > li .sidebar p span {
  color: #b8bfc1; }
ul#exceptions-list > li .info {
  padding: 20px 0px 20px 20px;
  width: 1220px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  height: 100%;
  margin-left: 80px; }
ul#exceptions-list > li .info .last_occurence {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #858585; }
ul#exceptions-list > li .info h3 {
  font-size: 2.4em;
  color: #363636;
  margin-bottom: 14px; }
ul#exceptions-list > li .info h4 {
  font-size: 1.8em;
  color: #cccccc;
  margin-bottom: 10px; }

@media screen and (max-width: 1400px) {
  #exceptions-list ul li .info {
    width: 920px; } }
pre {
  font-size: 1.4em;
  background: #f4f4f4; }
pre.highlight {
  background: #3d8dc4;
  color: white; }
