$body_background: #f4f9fc;

$navigation_border: #0f1318;

$border_color: #e8edf0;
$sidebar_background: #fcfcfc;
$element_background: #ffffff;
$main_font_color: #363636;
$secondary_font_color: #b8bfc1;

$body_width: 1000px;
$body_width_wide: 1300px;

$sidebar_width: 80px;

$grey: #ccc;
$green: #89BC32;
$light_grey: #b7b7b7;
$dark_grey: #858585;
$red: #CE0A31;
$light_blue: #3d8dc4;
$dark_blue: #232d39;

$default_border: 3px solid $border_color;




