@import "compass/reset";
@import "compass/css3";
@import "_variables.scss";
@import "_base.scss";
.exception-wrapper{
	display: table;
	div.info, div.sidebar {
		display: table-cell;
	}
}
ul#exceptions-list {
	> li {
		background: $element_background;
		overflow: hidden;
		border-top: $default_border;
		position: relative;

		&:last-child {
			border-bottom: $default_border;
		}
		.sidebar {
			width: $sidebar_width;
			padding: 7px;
			height: 100%;
			float: left;
			position: absolute;
			@include box-sizing(border-box);
			.occurrences {
				padding-bottom: 17px;
				font-size: 6em;
				font-weight: bold;
				text-align: center;
			}

			> span {
				
				display: inline-block;
				
				width: 100%;
				margin: 10px 0 11px;
				color: $main_font_color;
			}

			p {
				font-size: 1.4em;
				color: black;

				span {
					color: $secondary_font_color;
				}
			}
		}

		.info {
			padding: 20px 0px 20px 20px; 
			width: $body_width_wide - $sidebar_width;
			@include box-sizing(border-box);
			float: left;
			position: relative;
			height: 100%;
			margin-left: $sidebar_width;
			.last_occurence {
				font-size: 1.4em;
				margin-bottom: 10px;
				color: $dark_grey;
			}
			h3 {
				font-size: 2.4em;
				color: $main_font_color;
				margin-bottom: 14px;
			}
			h4 {
				font-size: 1.8em;
				color: $grey;
				margin-bottom: 10px;
			}
		}

	}

}
@media screen and (max-width: 1400px) {
	#exceptions-list ul li .info {
		width: $body_width - $sidebar_width;
	}
}
pre {
	font-size: 1.4em;
	background: #f4f4f4;
	&.highlight {
		background: $light_blue;
		color: white;
	}
}